<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Mascota</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div class="container">
            <h1>Editar Mascota</h1>
            <form th:action="@{|/mascotas/actualizar/${mascota.id}|}" th:object="${mascota}" method="post">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" th:field="*{nombre}" />
                </div>
                <div>
                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" th:field="*{tipo}" />
                </div>
                <div>
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" th:field="*{edad}" />
                </div>
                <div>
                    <label for="raza">Raza:</label>
                    <input type="text" id="raza" th:field="*{raza}" />
                </div>
                <div>
                    <button type="submit">Actualizar</button>
                </div>
            </form>
            <a href="/mascotas">Voler a la lista</a>
        </div>
    </main>
</body>
</html>