<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
       <div class="container home-container">
           <h1>Bienvenido al Gestor de Mascotas</h1>
           <p>Selecciona una opción:</p>
           <ul>
               <li><a href="/mascotas">Ver Lista de Mascotas</a></li>
               <li><a href="/mascotas/nueva">Agregar Nueva Mascota</a></li>
               <li><a href="/consejos">Consejos para elegir el nombre de nuestra mascota</a></li>
           </ul>
       </div>
    </main>
</body>
</html>